.card{
    border: 2px solid blue;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    width: 50%;
    height: 50%;
}